@charset "UTF-8";

/* reset
----------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

strong{
	font-weight:bold;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	margin: 0;
	padding: 0;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #d6d6d6; 
	margin: 1em 0;
	padding: 0;
}
*/

ul {
	list-style: none;
}

input, select { vertical-align: middle; }

img {
	vertical-align: top;
	font-size: 0;
	line-height: 0;
}

/* a { -webkit-tap-highlight-color: transparent; } */

/* base
----------------------------------- */

body {
	font-family: Helvetica, Arial, Verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	-webkit-text-size-adjust: 100%;
	font-size: 1.4rem;
	text-align:left;
	background:#ffffff;
	color:#333333;
	min-width:320px;
}

html {
	font-size: 62.5%;
	text-align:center;
}

img {
	max-width: 100%;
	height: auto;
	width /***/: auto;
}

label {
	cursor:pointer;
}

/* anchor */
a:link {
	color:#333333;
}

a:visited {
	color:#333333;
}

a:hover,
a:active {
	color: #999999;
	text-decoration: underline;
}

/* chrome bugfix */
*{
  font-size: 1.6rem;
}
/* chrome bugfix end */

/* font-awesome */
i.fa{
	margin-right:4px;
	font-size:1.2rem;
	vertical-align:middle;
}

/* Noto Sans */
@font-face {
	font-family: "NotoSans";
	font-style: "normal";
	font-weight: 100;
	src:url("/assets/fonts/NotoSansCJKjp-Thin.woff") format("woff"),
	url("/assets/fonts/NotoSansCJKjp-Thin.otf") format("opentype");
}

@font-face {
	font-family: "NotoSans";
	font-style: "normal";
	font-weight: 300;
	src:url("/assets/fonts/NotoSansCJKjp-Light.woff") format("woff"),
	url("/assets/fonts/NotoSansCJKjp-Light.otf") format("opentype");
}

@font-face {
	font-family: "NotoSans";
	font-style: "normal";
	font-weight: 350;
	src:url("/assets/fonts/NotoSansCJKjp-DemiLight.woff") format("woff"),
	url("/assets/fonts/NotoSansCJKjp-DemiLight.otf") format("opentype");
}

@font-face {
	font-family: "NotoSans";
	font-style: "normal";
	font-weight: 400;
	src:url("/assets/fonts/NotoSansCJKjp-Regular.woff") format("woff"),
	url("/assets/fonts/NotoSansCJKjp-Regular.otf") format("opentype");
}

@font-face {
	font-family: "NotoSans";
	font-style: "normal";
	font-weight: 500;
	src:url("/assets/fonts/NotoSansCJKjp-Medium.woff") format("woff"),
	url("/assets/fonts/NotoSansCJKjp-Medium.otf") format("opentype");
}

@font-face {
	font-family: "NotoSans";
	font-style: "normal";
	font-weight: 700;
	src:url("/assets/fonts/NotoSansCJKjp-Bold.woff") format("woff"),
	url("/assets/fonts/NotoSansCJKjp-Bold.otf") format("opentype");
}

@font-face {
	font-family: "NotoSans";
	font-style: "normal";
	font-weight: 900;
	src:url("/assets/fonts/NotoSansCJKjp-Black.woff") format("woff"),
	url("/assets/fonts/NotoSansCJKjp-Black.otf") format("opentype");
}

/* clearfix
----------------------------------- */
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

/* header
----------------------------------- */
#allWrap{
	border-top: 3px solid #000000;
}

#headWrap{
	text-align:center;
	background:rgba(255,255,255,0.86);
	z-index:9999;
	width:100%;
	height:140px;
	border-bottom:1px solid #e4e4e4;
}

#headCont{
	letter-spacing:-0.4rem;
}

#headLogo {
	display:inline-block;
	letter-spacing:normal;
	box-sizing:border-box;
	vertical-align:top;
	width:132px;
}

#headLogo a{
	margin-top:49px;
	display:inline-block;
}

#headLogo img{
	width:118px;
}

#headNav{
	display:inline-block;
	letter-spacing:normal;
	box-sizing:border-box;
	vertical-align:top;
	width:-webkit-calc(100% - 132px);
	width:calc(100% - 132px);
	text-align:right;
}

#headNav h1{
	font-size:1.1rem;
	color:#999999;
	margin-top:7px;
}

#headNav h1 span{
	color:#666666;
	margin-left:10px;
}

#headNav ul{
	letter-spacing:normal;
}

#headNav ul:first-child{
	margin-top:20px;
	font-size:1.1rem;
	color:#666666;
}

#headNav li{
	vertical-align:middle;
	display:inline-block;
	letter-spacing:normal;
	box-sizing:border-box;
	vertical-align:top;
}

#headNav ul:first-child li{
	margin-left:15px;
}

#headNav ul:last-child li{
	margin-left:30px;
	font-weight:bold;
}

#headNav a{
	padding:15px 0;
	display:block;
}

#headNavTab{
	display:none;
	letter-spacing:normal;
	position:absolute;
	top: 9px;
	right: 16px;
	z-index:9999;
}

@media screen and ( max-width:979px ){
	
	#headWrap{
		height:90px;
	}
	
	#headLogo a{
		margin-top:25px;
	}
	
	#headLogo img{
		margin-left:14px;
	}
	
	#headNav h1{
		margin-top:5px;
	}
	
	#headNav ul:first-child{
		margin-top:0;
	}
	
	#headNav ul:first-child a{
		padding: 5px 0;
	}
	
	#headNav{
		padding-right:10px;
	}
}

@media screen and ( max-width:767px ){
	
	#headWrap{
		height:66px;
	}
	
	#headLogo a{
		margin-top:15px;
		width:104px;
	}
	
	#headLogo img{
		width:90px;
		margin-left:10px;
	}
		
	#headNav{
		display:none;
	}
	
	#headNavTab{
		display:inline-block;
	}
}

@media screen and ( max-width:479px ){
	
	#headNav{
		display:none;
	}
	
	#headNavTab{
	    top: 8px;
		right: 8px;
	}

}

/* content
----------------------------------- */

#mainWrap{
	font-size:1.4rem;
}

.contWrap{
	width:100%;
	text-align:center;
	overflow: hidden;
}

.cont980{
	max-width:980px;
	text-align:left;
	margin:0 auto;
}

.cont1280{
	max-width:1280px;
	text-align:left;
	margin:0 auto;
}

.contMain{
	width:71.4%;
	letter-spacing:normal;
	box-sizing:border-box;
	vertical-align:top;
	display:inline-block;
}

@media screen and ( max-width:767px ){
	.contMain{
		width:100%;
	}
}

.breadCrumb a:link{
	text-decoration:none;
}

.breadCrumb a:visited{
	text-decoration:none;
}

.breadCrumb a:hover, .breadCrumb a:active {
	text-decoration: underline;
}

.breadCrumb ul{
	font-size:1.2rem;
	padding: 10px 0;
	letter-spacing:-0.4em;
}

@media screen and ( max-width:959px ){
	.breadCrumb ul{
		padding: 10px;
	}
}

.breadCrumb li{
	display:inline-block;
	letter-spacing:normal;
	vertical-align:top;
	color:#666666;
}

.breadCrumb li a{
	color:#666666;
}

.breadCrumb i{
	font-size:1.0rem;
	vertical-align:middle;
	margin: 0 8px;
}

.h2_line{
	font-size:2.2rem;
	padding: 20px 0;
	letter-spacing:normal;
	border-bottom:1px solid #d6d6d6;
}

.h2_short{
	width:71.4%;
}

@media screen and ( max-width:959px ){
	.h2_line{
		padding: 20px 10px;
	}
}

@media screen and ( max-width:767px ){
	.h2_line{
		width:100%;
	}
}

@media screen and ( max-width:479px ){
	.h2_line{
		font-size:2.0rem;
		padding: 10px;
	}
}

.h2_line + #mainWrap{
	padding-top:25px;
}

@media screen and (max-width: 960px) {
	.h2_line + #mainWrap{
		padding-left:10px;
		padding-right:10px;
	}
}

.cateTopNav{
	letter-spacing:-0.4em;
	width:100%;
}

.cateTopNav a{
	display:inline-block;
	box-sizing:border-box;
	vertical-align:top;
	letter-spacing:normal;
	border:1px solid #d6d6d6;
	padding:20px;
	margin-right:6%;
	width:47%;
	margin-bottom:20px;
	margin-bottom:2vw;
	font-weight:bold;
}

.cateTopNav a:link{
	text-decoration:none;
}

.cateTopNav a:visited{
	text-decoration:none;
}

.cateTopNav a:hover, #headWrap a:active {
	text-decoration: none;
}

.cateTopNav a:hover {
	background-color: #f3f3f3;
}

.cateTopNav a:nth-child(2n){
	margin-right:0;
}

.cateTopNav i{
	font-size:1.2rem;
	vertical-align:middle;
	margin-top: -2px;
}


@media screen and ( max-width:479px ){
	.cateTopNav a{
		width:100%;
		margin-right:0;
	}
}

.cateTopNavPic{
	letter-spacing:-0.4em;
}

.cateTopNavPic p{
	letter-spacing:normal;
}

.cateTopNavPic dl{
	display:inline-block;
	vertical-align:top;
	box-sizing:border-box;
	letter-spacing:normal;
	width:48%;
}

.cateTopNavPic dl:last-child{
	margin-left:4%;
}

.cateTopNavPic dt{
	font-size:2.0rem;
	margin:20px 0 30px;
}

.cateTopNavPic dd{
	text-align:center;
}

.cateTopNavPic dd img{
	border:1px solid #d6d6d6;
	margin-bottom:30px;
}

.cateTopNav a {
	padding:40px 20px;
}

.cateTopNav dd{
	display:none;
}

.cateTopNav dt {
    margin-bottom: 0;
}

@media screen and (max-width: 479px) {
	.cateTopNavPic dl{
		width:100%;
	}
	
	.cateTopNavPic dl:last-child{
		margin-left:0;
	}
}

.relNav{
	padding: 40px 0 0 10px;
	margin: 40px 0 0;
	font-size:1.2rem;
	border-top:1px solid #d6d6d6;
	box-shadow:#ececec 0px 3px 0px 0px inset;
	-webkit-box-shadow::#ececec 0px 3px 0px 0px inset;
	-moz-box-shadow::#ececec 0px 3px 0px 0px inset;
	text-align: left;
}

.relNav a:link{
	text-decoration:none;
}

.relNav a:visited{
	text-decoration:none;
}

.relNav a:hover, .relNav a:active {
	text-decoration: underline;
}

.relNav dt{
	font-weight:bold;
}

.relNav dd{
	padding-left:20px;
}

.relNav dt, .relNav dd{
	margin-bottom:20px;
}

.relNav i{
	font-size:0.9rem;
	vertical-align:middle;
	margin-right:8px;
}

/* aside
----------------------------------- */
.cateNavWrap{
	letter-spacing:normal;
	box-sizing:border-box;
	vertical-align:top;
	display:inline-block;
	margin-left:6.2%;
	width:22.4%;
}

.cateNav{
	border-top:1px solid #d6d6d6;
	margin-top:-1px;
	margin-bottom:20px;
}

.cateNav a:link{
	text-decoration:none;
}

.cateNav a:visited{
	text-decoration:none;
}

.cateNav a:hover, .cateNav a:active {
	background:#f3f3f3 none repeat scroll 0 0
}

.cateNav li{
	border-bottom:1px solid #d6d6d6;
	box-sizing:border-box;
	white-space:nowrap;
	overflow:hidden;
	width:100%;
}

.cateNav li a{
	display:block;
	box-sizing:border-box;
	width:100%;
	padding:17px 0 17px 25px;
	text-indent:-8px;
	line-height:2.0rem;
}

.cateNav li i{
	font-size:1.0rem;
	margin-right:8px;
	vertical-align:middle;
}

.cateNav .cateNavAct{
	background:#f3f3f3;
	padding:17px 0 17px 12px;
	font-weight:bold;
}

@media screen and ( max-width:767px ){
	.cateNav{
		display:none;
	}
}

.cateNavAdd{
	letter-spacing:-0.4em;
	width:100%;
	box-sizing:border-box;
}

.cateNavAdd li{
	margin-bottom:20px;
	letter-spacing:normal;
	box-sizing:border-box;
	vertical-align:top;
	display:inline-block;
	width:100%;
}

@media screen and ( max-width:767px ){
	.cateNavWrap{
		margin:0;
		width:100%;
	}
	.cateNavWrap{
		margin:0;
		width:100%;
	}
	.cateNavAdd{
		padding: 0 5px;
	}
	.cateNavAdd li{
		width:50%;
		text-align:center;
		box-sizing:border-box;
		padding:5px;
		margin-bottom:10px;
	}
}

@media screen and ( max-width:479px ){
	.cateNavAdd{
		margin-top:15px;
	}
	.cateNavAdd li{
		width:100%;
	}
}

/* footer
----------------------------------- */
.footMoveAnc{
	width:100%;
	position:relative;
	height:60px;
}

.footMoveAnc li{
	position:absolute;
	bottom:20px;
}

.footMoveAnc li:first-child{
	left:20px;
}

.footMoveAnc li:last-child{
	right:20px;
}

@media screen and (max-width:479px){
	
	.footMoveAnc{
		height:80px;
	}
	.footMoveAnc li:first-child{
		left:10px;
	}
	
	.footMoveAnc li:last-child{
		right:10px;
	}
	
}

.footMoveAnc li span{
	padding: 0 4px;
	font-size:1.2rem;
}

.footMoveAnc a:link{
	text-decoration:none;
}

.footMoveAnc a:visited{
	text-decoration:none;
}

.footMoveAnc a:hover, .footMoveAnc a:active {
	text-decoration: underline;
}

.footWrap{
	text-align:center;
	letter-spacing:-0.4em;
	overflow:hidden;
	width:100%;
	border-top:1px solid #d6d6d6;
}

@media screen and ( min-width:480px ){
	.footWrap{
		box-shadow:#ececec 0px 3px 0px 0px inset;
		-webkit-box-shadow::#ececec 0px 3px 0px 0px inset;
		-moz-box-shadow::#ececec 0px 3px 0px 0px inset;
	}
}

.footWrap a:link{
	text-decoration:none;
}

.footWrap a:visited{
	text-decoration:none;
}

.footWrap a:hover, .footWrap a:active {
	text-decoration: underline;
}

.bigFooter{
	margin: 0 auto 80px;
	max-width: 980px;
	text-align: left;
	padding-top:40px;
	position:relative;
}

@media screen and ( min-width:767px ){
	.bigFooter .fa-chevron-right:before {
		font-size: 0.8rem;
		line-height: 1.4rem;
		padding-left: 4px;
	}
}

@media screen and ( max-width:959px ){
	.bigFooter{
		padding-left:10px;
		padding-right:10px;
	}
}

@media screen and ( max-width:767px ){
	.bigFooter{
		margin: 0 auto 0;
	}
	
	.bigFooter .fa-chevron-right:before {
		font-size: 0.6rem;
		line-height: 1.4rem;
		padding-left: 2px;
	}
}

@media screen and ( max-width:479px ){
	.bigFooter{
		margin: 0 auto;
	}
	.bigFooter .fa-chevron-right:before {
		font-size: 1.2rem;
		padding-left: 0;
	}
}

.bigFooter ul, .bigFooter dl{
	display:inline-block;
	letter-spacing:normal;
	vertical-align:top;
	width:24%;
}

.bigFooter .footNavShort{
	width:17%;
}

.bigFooter .footNavLong{
	width:35%;
}

.bigFooter li, .bigFooter dt, .bigFooter dd{
	font-size:1.2rem;
}

.bigFooter li, .bigFooter dt{
	padding: 10px 0 10px 18px;
	text-indent: -9px;
	line-height:1.2em;
}

.bigFooter dd a{
	display:block;
	padding: 8px 0 8px 18px;
	text-indent: -9px;
	line-height:1.2em;
}

.bigFooter dd a.bigFooterDet{
	padding-left:34px;
}

.bigFooter i{
	margin-right:5px;
}

.bigFooter dt .fa-chevron-circle-down{
	display:none;
}

@media screen and ( max-width:767px ){
	.bigFooter li, .bigFooter dt, .bigFooter dd, .bigFooter i{
		font-size:1.0rem;
	}
	
	.bigFooter li, .bigFooter dt, .bigFooter dd a{
		text-indent:-6px;
	}

	.bigFooter i{
		margin-right:0;
	}
	
	.bigFooter ul, .bigFooter dl{
		display:inline-block;
		letter-spacing:normal;
		vertical-align:top;
	}

}

@media screen and ( max-width:659px ){
	.bigFooter li, .bigFooter dt, .bigFooter dd, .bigFooter i{
		font-size:1.2rem;
	}
	.bigFooter ul, .bigFooter dl, .bigFooter ul:last-child{
		width:100%;
	}
	.bigFooter dt .fa-chevron-circle-right{
		display:none;
	}
	.bigFooter dt .fa-chevron-circle-down{
		display:inline-block;
	}
	.bigFooter dd{
		display:none;
	}
	.bigFooter{
		padding:0;
	}
	.bigFooter li, .bigFooter dt, .bigFooter dd{
		padding:0;
	}
	
	.bigFooter li, .bigFooter dt, .bigFooter dd a{
		text-indent:0;
	}

	.bigFooter li a, .bigFooter dt a, .bigFooter dd a{
		padding: 14px 0 14px 10px;
		border-bottom:1px solid #d6d6d6;
		display:block;
		box-sizing:border-box;
	}
	
	.bigFooter dd a{
		padding-left: 20px;
	}
	
	.bigFooter .footNavLong, .bigFooter .footNavShort{
		width:100%;
	}

	
}

.footSnsWrap{
	font-size:1.1rem;
	margin: 40px 0 60px;
	text-align:center;
}

.footSnsWrap dl{
	margin: 0 auto;
	display:inline;
}

.footSnsWrap dt{
	color:#999999;
	padding-top:14px;
}

.footSnsWrap dd a{
    border: 1px solid #e8e8e8;
    border-bottom: 3px solid #e8e8e8;
    border-left: 3px solid #e8e8e8;
	padding:2px;
	display:inline-block;
}

@media screen and ( max-width:767px ){

	.footSnsWrap{
		margin: 20px 0 60px;
		padding-left:10px
	}
	
	.footSnsWrap dl {
	  	text-align: center;
	}
	
	.footSnsWrap dt, .footSnsWrap dd{
		margin-bottom:10px;
	}
	
	.footSnsWrap dt{
		width:100%;
	}

}

@media screen and ( max-width:479px ){
	
	.footSnsWrap dd{
		width:100%;
	}

}

.footSnsWrap dt, .footSnsWrap dd{
	margin-right:20px;
	line-height:1.8rem;
}

.footSnsWrap img{
	width:40px;
	height:40px;
	vertical-align: middle;
	margin-right:4px;
}

.footCopyWrap{
	background:#000000;
	color:#ffffff;
	letter-spacing:normal;
}

.footCopyWrap p{
	text-align:center;
	width:100%;
	padding:30px 0;
	font-size: 1.2rem;
}


/* common
----------------------------------- */
.h3_tit{
	font-size:2.0rem;
	font-weight:bold;
	margin-bottom:20px;
	line-height:2.4rem;
}

@media screen and (max-width: 479px) {
	.h3_tit{
		font-size:1.8rem;
		line-height:2.2rem;
	}
}

.h4_tit{
	font-size:1.6rem;
	font-weight:bold;
	margin-bottom:20px;
	line-height:2.0rem;
	
}

@media screen and (max-width: 479px) {
	.h4_tit{
		font-size:1.4rem;
		line-height:1.8rem;
	}
}

.p_default{
	margin-bottom:20px;
	font-size:1.4rem;
	line-height:2.2rem;
	text-align:left;
}

.dl_default{
	font-size:1.4rem;
	line-height:1.8rem;
	letter-spacing:-0.4em;
	margin-bottom:20px;
}

.dl_default dt, .dl_default dd{
	display:inline-block;
	vertical-align:top;
	letter-spacing:normal;
	margin-bottom:10px;
}

.dl_default dt{
	width:120px;
}
.dl_default dd{
	width:-webkit-calc(100% - 120px);
	width:calc(100% - 120px);
}

.a_default{
	font-size:1.4rem;
	padding-left:8px;
}

.box_default{
	border:1px solid #d6d6d6;
	margin-bottom:20px;
}

.txtAttention {
	color:#ff0000;
}

.txtFootnote{
	font-size:1.0rem;
	vertical-align:text-top;
	line-height:1;
	letter-spacing: normal;
}

@media screen and (max-width: 479px) {
	.noneSp{ display:none !important; }
	.onlyTab{ display:none !important; }
	.onlyPc{ display:none !important; }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
	.noneTab{ display:none !important; }
	.onlySp{ display:none !important; }
	.onlyPc{ display:none !important; }
}

@media screen and (min-width: 768px) {
	.nonePc{ display:none !important; }
	.onlySp{ display:none !important; }
	.onlyTab{ display:none !important; }
}

.disNone{
	display:none;
}

.alCenter{
	text-align:center;
}

.alLeft{
	text-align:left;
}

.alRight{
	text-align:right;
}

.flLeft{
	float:left;
}

.flRight{
	float:right;
}


a.nolineAnc:link{
	text-decoration:none;
}

a.nolineAnc:visited{
	text-decoration:none;
}

a.nolineAnc:hover, a.nolineAnc:active {
	text-decoration: underline;
}

a.telLink:link, a.telLink:visited, a.telLink:hover, a.telLink:active {
	text-decoration: none;
	cursor:default;
	color:inherit;
}

/* inline-block */
.ibWrap{
	letter-spacing:-0.4em;
	width:100%;
	box-sizing:border-box;
}

.ibChild, .ib10, .ib20,  .ib25, .ib30, .ib33, .ib35, .ib40, .ib50, .ib60, .ib65, .ib66, .ib70, .ib80, .ib90, .ib100{
	letter-spacing:normal;
	box-sizing:border-box;
	vertical-align:top;
	display:inline-block;
}

.ib10{ width:10%; }
.ib20{ width:20%; }
.ib25{ width:25%; }
.ib30{ width:30%; }
.ib33{ width:33.3%; }
.ib35{ width:35%; }
.ib40{ width:40%; }
.ib50{ width:50%; }
.ib60{ width:60%; }
.ib65{ width:65%; }
.ib66{ width:66.6%; }
.ib70{ width:70%; }
.ib75{ width:75%; }
.ib80{ width:80%; }
.ib90{ width:90%; }
.ib100{ width:100%; }

@media screen and (max-width:767px){
	.ib10w768{ width:10%; }
	.ib20w768{ width:20%; }
	.ib25w768{ width:25%; }
	.ib30w768{ width:30%; }
	.ib33w768{ width:33.3%; }
	.ib35w768{ width:35%; }
	.ib40w768{ width:40%; }
	.ib50w768{ width:50%; }
	.ib60w768{ width:60%; }
	.ib65w768{ width:65%; }
	.ib66w768{ width:66.6%; }
	.ib70w768{ width:70%; }
	.ib75w768{ width:75%; }
	.ib80w768{ width:80%; }
	.ib90w768{ width:90%; }
	.ib100w768{ width:100%; }
}

@media screen and (max-width:479px){
	.ib10w480{ width:10%; }
	.ib20w480{ width:20%; }
	.ib25w480{ width:25%; }
	.ib30w480{ width:30%; }
	.ib33w480{ width:33.3%; }
	.ib35w480{ width:35%; }
	.ib40w480{ width:40%; }
	.ib50w480{ width:50%; }
	.ib60w480{ width:60%; }
	.ib65w480{ width:65%; }
	.ib66w480{ width:66.6%; }
	.ib70w480{ width:70%; }
	.ib75w480{ width:75%; }
	.ib80w480{ width:80%; }
	.ib90w480{ width:90%; }
	.ib100w480{ width:100%; }
}


/* padding */
.pd0{ padding:0; }
.pd10{ padding:10px; }
.pd20{ padding:20px; }
.pd30{ padding:30px; }
.pd40{ padding:40px; }
.pd50{ padding:50px; }
.pdT0{ padding-top:0; }
.pdT10{ padding-top:10px; }
.pdT20{ padding-top:20px; }
.pdT30{ padding-top:30px; }
.pdT40{ padding-top:40px; }
.pdT50{ padding-top:50px; }
.pdR0{ padding-right:0; }
.pdR10{ padding-right:10px; }
.pdR20{ padding-right:20px; }
.pdR30{ padding-right:30px; }
.pdR40{ padding-right:40px; }
.pdR50{ padding-right:50px; }
.pdL0{ padding-left:0; }
.pdL10{ padding-left:10px; }
.pdL20{ padding-left:20px; }
.pdL30{ padding-left:30px; }
.pdL40{ padding-left:40px; }
.pdL50{ padding-left:50px; }
.pdB0{ padding-bottom:0; }
.pdB10{ padding-bottom:10px; }
.pdB20{ padding-bottom:20px; }
.pdB30{ padding-bottom:30px; }
.pdB40{ padding-bottom:40px; }
.pdB50{ padding-bottom:50px; }

@media screen and (max-width:767px){
	.pd0w768{ padding:0; }
	.pd10w768{ padding:10px; }
	.pd20w768{ padding:20px; }
	.pd30w768{ padding:30px; }
	.pd40w768{ padding:40px; }
	.pd50w768{ padding:50px; }
	.pdT0w768{ padding-top:0; }
	.pdT10w768{ padding-top:10px; }
	.pdT20w768{ padding-top:20px; }
	.pdT30w768{ padding-top:30px; }
	.pdT40w768{ padding-top:40px; }
	.pdT50w768{ padding-top:50px; }
	.pdR0w768{ padding-right:0; }
	.pdR10w768{ padding-right:10px; }
	.pdR20w768{ padding-right:20px; }
	.pdR30w768{ padding-right:30px; }
	.pdR40w768{ padding-right:40px; }
	.pdR50w768{ padding-right:50px; }
	.pdL0w768{ padding-left:0; }
	.pdL10w768{ padding-left:10px; }
	.pdL20w768{ padding-left:20px; }
	.pdL30w768{ padding-left:30px; }
	.pdL40w768{ padding-left:40px; }
	.pdL50w768{ padding-left:50px; }
	.pdB0w768{ padding-bottom:0; }
	.pdB10w768{ padding-bottom:10px; }
	.pdB20w768{ padding-bottom:20px; }
	.pdB30w768{ padding-bottom:30px; }
	.pdB40w768{ padding-bottom:40px; }
	.pdB50w768{ padding-bottom:50px; }
}

@media screen and (max-width:479px){
	.pd0w480{ padding:0; }
	.pd10w480{ padding:10px; }
	.pd20w480{ padding:20px; }
	.pd30w480{ padding:30px; }
	.pd40w480{ padding:40px; }
	.pd50w480{ padding:50px; }
	.pdT0w480{ padding-top:0; }
	.pdT10w480{ padding-top:10px; }
	.pdT20w480{ padding-top:20px; }
	.pdT30w480{ padding-top:30px; }
	.pdT40w480{ padding-top:40px; }
	.pdT50w480{ padding-top:50px; }
	.pdR0w480{ padding-right:0; }
	.pdR10w480{ padding-right:10px; }
	.pdR20w480{ padding-right:20px; }
	.pdR30w480{ padding-right:30px; }
	.pdR40w480{ padding-right:40px; }
	.pdR50w480{ padding-right:50px; }
	.pdL0w480{ padding-left:0; }
	.pdL10w480{ padding-left:10px; }
	.pdL20w480{ padding-left:20px; }
	.pdL30w480{ padding-left:30px; }
	.pdL40w480{ padding-left:40px; }
	.pdL50w480{ padding-left:50px; }
	.pdB0w480{ padding-bottom:0; }
	.pdB10w480{ padding-bottom:10px; }
	.pdB20w480{ padding-bottom:20px; }
	.pdB30w480{ padding-bottom:30px; }
	.pdB40w480{ padding-bottom:40px; }
	.pdB50w480{ padding-bottom:50px; }
}

/* margin */
.mg0{ margin:0; }
.mg10{ margin:10px; }
.mg20{ margin:20px; }
.mg30{ margin:30px; }
.mg40{ margin:40px; }
.mg50{ margin:50px; }
.mg60{ margin:60px; }
.mg70{ margin:70px; }
.mg80{ margin:80px; }
.mg90{ margin:90px; }
.mg100{ margin:100px; }
.mgT0{ margin-top:0; }
.mgT10{ margin-top:10px; }
.mgT20{ margin-top:20px; }
.mgT30{ margin-top:30px; }
.mgT40{ margin-top:40px; }
.mgT50{ margin-top:50px; }
.mgT60{ margin-top:60px; }
.mgT70{ margin-top:70px; }
.mgT80{ margin-top:80px; }
.mgT90{ margin-top:90px; }
.mgT100{ margin-top:100px; }
.mgR0{ margin-right:0; }
.mgR10{ margin-right:10px; }
.mgR20{ margin-right:20px; }
.mgR30{ margin-right:30px; }
.mgR40{ margin-right:40px; }
.mgR50{ margin-right:50px; }
.mgR60{ margin-right:60px; }
.mgR70{ margin-right:70px; }
.mgR80{ margin-right:80px; }
.mgR90{ margin-right:90px; }
.mgR100{ margin-right:100px; }
.mgL0{ margin-left:0; }
.mgL10{ margin-left:10px; }
.mgL20{ margin-left:20px; }
.mgL30{ margin-left:30px; }
.mgL40{ margin-left:40px; }
.mgL50{ margin-left:50px; }
.mgL60{ margin-left:60px; }
.mgL70{ margin-left:70px; }
.mgL80{ margin-left:80px; }
.mgL90{ margin-left:90px; }
.mgL100{ margin-left:100px; }
.mgB0{ margin-bottom:0; }
.mgB10{ margin-bottom:10px; }
.mgB20{ margin-bottom:20px; }
.mgB30{ margin-bottom:30px; }
.mgB40{ margin-bottom:40px; }
.mgB50{ margin-bottom:50px; }
.mgB60{ margin-bottom:60px; }
.mgB70{ margin-bottom:70px; }
.mgB80{ margin-bottom:80px; }
.mgB90{ margin-bottom:90px; }
.mgB100{ margin-bottom:100px; }

@media screen and (max-width:767px){
	.mg0w768{ margin:0; }
	.mg10w768{ margin:10px; }
	.mg20w768{ margin:20px; }
	.mg30w768{ margin:30px; }
	.mg40w768{ margin:40px; }
	.mg50w768{ margin:50px; }
	.mg60w768{ margin:60px; }
	.mg70w768{ margin:70px; }
	.mg80w768{ margin:80px; }
	.mg90w768{ margin:90px; }
	.mg100w768{ margin:100px; }
	.mgT0w768{ margin-top:0; }
	.mgT10w768{ margin-top:10px; }
	.mgT20w768{ margin-top:20px; }
	.mgT30w768{ margin-top:30px; }
	.mgT40w768{ margin-top:40px; }
	.mgT50w768{ margin-top:50px; }
	.mgT60w768{ margin-top:60px; }
	.mgT70w768{ margin-top:70px; }
	.mgT80w768{ margin-top:80px; }
	.mgT90w768{ margin-top:90px; }
	.mgT100w768{ margin-top:100px; }
	.mgR0w768{ margin-right:0; }
	.mgR10w768{ margin-right:10px; }
	.mgR20w768{ margin-right:20px; }
	.mgR30w768{ margin-right:30px; }
	.mgR40w768{ margin-right:40px; }
	.mgR50w768{ margin-right:50px; }
	.mgR60w768{ margin-right:60px; }
	.mgR70w768{ margin-right:70px; }
	.mgR80w768{ margin-right:80px; }
	.mgR90w768{ margin-right:90px; }
	.mgR100w768{ margin-right:100px; }
	.mgL0w768{ margin-left:0; }
	.mgL10w768{ margin-left:10px; }
	.mgL20w768{ margin-left:20px; }
	.mgL30w768{ margin-left:30px; }
	.mgL40w768{ margin-left:40px; }
	.mgL50w768{ margin-left:50px; }
	.mgL60w768{ margin-left:60px; }
	.mgL70w768{ margin-left:70px; }
	.mgL80w768{ margin-left:80px; }
	.mgL90w768{ margin-left:90px; }
	.mgL100w768{ margin-left:100px; }
	.mgB0w768{ margin-bottom:0; }
	.mgB10w768{ margin-bottom:10px; }
	.mgB20w768{ margin-bottom:20px; }
	.mgB30w768{ margin-bottom:30px; }
	.mgB40w768{ margin-bottom:40px; }
	.mgB50w768{ margin-bottom:50px; }
	.mgB60w768{ margin-bottom:60px; }
	.mgB70w768{ margin-bottom:70px; }
	.mgB80w768{ margin-bottom:80px; }
	.mgB90w768{ margin-bottom:90px; }
	.mgB100w768{ margin-bottom:100px; }
}

@media screen and (max-width:479px){
	.mg0w480{ margin:0; }
	.mg10w480{ margin:10px; }
	.mg20w480{ margin:20px; }
	.mg30w480{ margin:30px; }
	.mg40w480{ margin:40px; }
	.mg50w480{ margin:50px; }
	.mg60w480{ margin:60px; }
	.mg70w480{ margin:70px; }
	.mg80w480{ margin:80px; }
	.mg90w480{ margin:90px; }
	.mg100w480{ margin:100px; }
	.mgT0w480{ margin-top:0; }
	.mgT10w480{ margin-top:10px; }
	.mgT20w480{ margin-top:20px; }
	.mgT30w480{ margin-top:30px; }
	.mgT40w480{ margin-top:40px; }
	.mgT50w480{ margin-top:50px; }
	.mgT60w480{ margin-top:60px; }
	.mgT70w480{ margin-top:70px; }
	.mgT80w480{ margin-top:80px; }
	.mgT90w480{ margin-top:90px; }
	.mgT100w480{ margin-top:100px; }
	.mgR0w480{ margin-right:0; }
	.mgR10w480{ margin-right:10px; }
	.mgR20w480{ margin-right:20px; }
	.mgR30w480{ margin-right:30px; }
	.mgR40w480{ margin-right:40px; }
	.mgR50w480{ margin-right:50px; }
	.mgR60w480{ margin-right:60px; }
	.mgR70w480{ margin-right:70px; }
	.mgR80w480{ margin-right:80px; }
	.mgR90w480{ margin-right:90px; }
	.mgR100w480{ margin-right:100px; }
	.mgL0w480{ margin-left:0; }
	.mgL10w480{ margin-left:10px; }
	.mgL20w480{ margin-left:20px; }
	.mgL30w480{ margin-left:30px; }
	.mgL40w480{ margin-left:40px; }
	.mgL50w480{ margin-left:50px; }
	.mgL60w480{ margin-left:60px; }
	.mgL70w480{ margin-left:70px; }
	.mgL80w480{ margin-left:80px; }
	.mgL90w480{ margin-left:90px; }
	.mgL100w480{ margin-left:100px; }
	.mgB0w480{ margin-bottom:0; }
	.mgB10w480{ margin-bottom:10px; }
	.mgB20w480{ margin-bottom:20px; }
	.mgB30w480{ margin-bottom:30px; }
	.mgB40w480{ margin-bottom:40px; }
	.mgB50w480{ margin-bottom:50px; }
	.mgB60w480{ margin-bottom:60px; }
	.mgB70w480{ margin-bottom:70px; }
	.mgB80w480{ margin-bottom:80px; }
	.mgB90w480{ margin-bottom:90px; }
	.mgB100w480{ margin-bottom:100px; }
}































