@charset "UTF-8";

/* philosophy */
.div_philosophyWrap{
	font-family: "NotoSans";
	font-weight:400;
	margin:30px 0 120px;
	opacity:0;
}

.div_philosophyWrap h3{
	font-weight:350;
	font-size:1.8rem;
	line-height:2.6rem;
	margin-bottom:20px;
	color:#9b0d0b;
}

.div_philosophyWrap p{
	font-weight: 500;
	font-size: 3.2rem;
	line-height: 4.8rem;
	padding-bottom:60px;
	margin-bottom:60px;
	width:100%;
	display:inline-block;
	border-bottom:1px solid #d6d6d6;
}

.div_philosophyWrap .h3_spirit{
	font-size:3rem;
	line-height:4.6rem;
	font-weight:700;
}

.dl_philosophy{
	margin-top:40px;
}

.dl_philosophy dt{
	font-size:2.4rem;
	margin-bottom:10px;
}

.dl_philosophy dt span{
	font-size:3.0rem;
	font-weight:bold;
	color:#9b0d0b;
}

.dl_philosophy dd{
	font-size:1.4rem;
	line-height:1.8rem;
	margin-bottom:20px;
}

@media screen and (max-width:479px){

	.div_philosophyWrap{
		margin:30px 0 60px;
	}
	
	.div_philosophyWrap h3{
		margin-bottom:10px;
		font-size:1.6rem;
		line-height:2.2rem;
	}
	
	.div_philosophyWrap p{
		padding-bottom:50px;
		margin-bottom:50px;
		font-size:2.4rem;
		line-height:3.6rem;
	}
	
	.div_philosophyWrap .h3_spirit{
		margin-bottom:30px;
	}
	
	.dl_philosophy dd{
		font-size:1.2rem;
		line-height:1.6rem;
	}
	
	.div_philosophyWrap .h3_spirit{
		font-size:4rem;
		line-height:4rem;
	}
	
}


/* history */
.dl_history{
	letter-spacing:-0.4em;
	width:100%;
	font-size:1.4rem;
}

.dl_history dt, .dl_history dd{
	letter-spacing:normal;
	display:inline-block;
	box-sizing:border-box;
	vertical-align:top;
	padding-bottom:20px;
	line-height:2.6rem;
}

.dl_history dt{
	width:135px;
	text-align:right;
	font-weight:bold;
}

.dl_history dt span{
	display:inline-block;
	box-sizing:border-box;
	text-align:right;
	width:75px;
	padding-right:20px;
	font-weight:normal;
}

.dl_history dd{
	border-left:1px solid #d6d6d6;
	width:-webkit-calc(100% - 135px);
	width:calc(100% - 135px);
	padding-left:20px;
}

@media screen and (max-width:479px){
	
	.dl_history dt{
		width:100px;
	}
	
	.dl_history dt span{
		width:50px;
			padding-right:10px;
	}
	.dl_history dd{
		width:-webkit-calc(100% - 100px);
		width:calc(100% - 100px);
	}
	
}

.dl_history dd span{
	display:inline-block;
}

.dl_history dd:last-child{
	padding-bottom:60px;
}

.dl_history:first-child{
	margin-top:20px;
}

.dl_history:last-child dd:last-child{
	padding-bottom:20px;
}

/* profile */
.dl_profile{
	letter-spacing:-0.4em;
	width:100%;
	font-size:1.4rem;
}

.dl_profile dt, .dl_profile dd{
	letter-spacing:normal;
	display:inline-block;
	box-sizing:border-box;
	vertical-align:top;
	padding-bottom:20px;
	line-height:2.0rem;
}

.dl_profile dt{
	width:135px;
	text-align:right;
	font-weight:bold;
	padding-right:20px;
}

.dl_profile dd{
	border-left:1px solid #d6d6d6;
	width:-webkit-calc(100% - 135px);
	width:calc(100% - 135px);
	padding-left:20px;
}

.dl_profile dd span{
	display:inline-block;
}

.dl_profile #offices{
  text-align:center;
  width:80%;
  height:80px;
  box-sizing:border-box;
  padding-top:30px;
  background: #f9f9f9 url(../img/profile_offices.jpg) left center no-repeat;
  border: 1px solid #d6d6d6;
  display: block;
  text-decoration: none;
}

.dl_profile #offices:hover {
  border-color: #000;
  text-decoration: underline;
}

@media screen and (max-width:479px){
	.dl_profile dt{
		width:100px;
		padding-right:15px;
	}
	
	.dl_profile dd{
		width:-webkit-calc(100% - 100px);
		width:calc(100% - 100px);
		padding-left:15px;
	}
}

.dl_profile h5{
	font-weight:bold;
}

.dl_profile div{
	padding-bottom:40px;
}

.dl_profile div:last-child{
	padding-bottom:0;
}

.dl_profile dd:last-child{
	padding-bottom:40px;
}

.dl_profile:first-child{
	margin-top:20px;
}

.dl_profile:last-child dd:last-child{
	padding-bottom:20px;
	margin-bottom:40px;
}

/* message */

.div_message p span{
	font-size:2.0rem;
	font-weight:bold;
	margin-bottom:15px;
	line-height:2.4rem;
	display:block;
}

@media screen and (max-width: 479px) {
	.div_message p span{
		font-size:1.8rem;
		line-height:2.2rem;
	}
}

.div_message p img{
	float:left;
	margin-right:20px;
	margin-bottom:15px;
}

.div_message div{
	text-align:center;
	width:100%;
	margin-bottom:20px;
	display:none;
}

@media screen and (max-width:767px){
	.div_message p img{
		display:none;
	}
	.div_message div{
		display:block;
	}
}

.div_messageSignature{
	text-align:right;
	font-size:1.2rem;
	line-height:1.8rem;
}

/* IR */
#div_ir h3{
	font-size:2.0rem;
	font-weight:bold;
	margin: 80px 0 40px;
}

#div_ir h3:first-child{
	margin:20px 0 40px;
}

#div_ir h4{
	margin-bottom:20px;
}

#div_ir h4 span:first-child{
	font-size:1.6rem;
	font-weight:bold;
}

#div_ir h4 span:last-child{
	font-size:1.1rem;
	float:right;
}

@media screen and (max-width:767px){
	#div_ir h4 span:last-child{
		float:none;
		display:block;
		text-align:right;
		padding-top:10px;
	}
}

#div_ir dl{
	letter-spacing:-0.4em;
	font-size:1.3rem;
	box-sizing:border-box;
	border-top: 1px solid #d6d6d6;
	border-left: 1px solid #d6d6d6;
	margin-bottom: 60px;
}

#div_ir dt, #div_ir dd{
	display:inline-block;
	letter-spacing:normal;
	box-sizing:border-box;
	vertical-align:top;
	border-right: 1px solid #d6d6d6;
	border-bottom: 1px solid #d6d6d6;
}

#div_ir dt{
	width:200px;
	padding:20px 20px 20px 40px;
}

#div_ir dd{
	padding:20px 40px 20px 20px;
	width:-webkit-calc(100% - 200px);
	width:calc(100% - 200px);
	text-align:right;
}

@media screen and (max-width:767px){
	#div_ir dt{
		width:140px;
		padding:20px;
	}
	
	#div_ir dd{
		padding:20px;
		width:-webkit-calc(100% - 140px);
		width:calc(100% - 140px);
	}
}

#div_ir .dl_nosepalate{
	border-top: none;
	border-left: none;
}

#div_ir .dl_nosepalate dt, #div_ir .dl_nosepalate dd{
	border-right: none;
}

#div_ir .dl_nosepalate dt{
	width:-webkit-calc(100% - 100px);
	width:calc(100% - 100px);
}

#div_ir .dl_nosepalate dd{
	width:100px;
	text-align:right;
}

/* group */

#div_group h3{
	font-size:2.0rem;
	font-weight:bold;
	margin: 80px 0 40px;
}

#div_group h4{
	margin-bottom:20px;
}

#groupSlogan{
	text-align:center;
	line-height:2.7rem;
	font-size:1.3rem;
	border-bottom: 1px solid #d7d7d7;
	padding-bottom:40px;
}

#groupSlogan img{
	margin-bottom:20px;
}

#groupSlogan span{
	display:inline-block;
}

#div_group #groupSlogan p{
	padding-top:40px;
	font-size:1.0rem;
	color:#999999;
}

#groupSlogan a{
	margin-top:40px;
	display:inline-block;
}

#groupOrg, .groupComBox ul{
	letter-spacing:-0.4em;
}

#groupOrg span, #groupOrg p, .groupComBox li{
	display:inline-block;
	letter-spacing:normal;
	box-sizing:border-box;
	vertical-align:top;
}

#groupOrg span {
	width:43%;
}
/*
#groupOrg p{
	width:57%;
	padding-left:40px;
}
*/

#div_group p{
	font-size: 1.3rem;
	line-height: 2.2rem;
}

@media screen and (max-width:767px){
	#groupOrg span {
		width:100%;
		margin-bottom:40px;
		text-align:center;
	}
	
	#groupOrg p{
		width:100%;
		padding-left:0;
	}
}

.groupComBox {
	border: 1px solid #d7d7d7;
	margin-bottom:40px;
	padding: 40px 30px;
}

.groupComBox li:first-child{
	width:62%;
	padding-right:40px;
}

.groupComBox li:last-child{
	width:38%;
}

.groupComBox li img{
	box-sizing:border-box;
	border: 1px solid #d7d7d7;
}

.groupComBox span{
	display:block;
	font-size:1.3rem;
	margin-bottom:20px;
}

.groupComBox h4{
	font-weight:bold;
	font-size:1.8rem;
	margin-bottom:20px;
}

@media screen and (max-width:479px){
	
	.groupComBox h4{
		font-size:1.6rem;
		line-height:2.0rem;
	}
	
	.groupComBox {
		padding: 30px 20px;
	}
	
}

.groupComBox a{
	font-size:1.3rem;
	display:inline-block;
	margin-top:20px;
}

@media screen and (max-width:767px){
	
	.groupComBox {
		text-align:center;
	}
	.groupComBox span, .groupComBox h4, .groupComBox p{
		text-align:left;
	}

	.groupComBox li:first-child{
		width:100%;
		padding-right:0;
	}
	
	.groupComBox li:last-child{
		width:100%;
		margin-top:20px;
	}
	
	.groupComBox a{
		margin: 20px auto 0;
	}
}

.pc-display {display:inline;}
.sp-display {display:none;}

@media screen and (max-width:424px){
	.pc-display {display:none !important;}
	.sp-display {display:inline;}
}




















