@charset "UTF-8";

form#mailformpro {
	font-size:1.2rem;
}

form#mailformpro dl dd {
	min-height:70px;
}

form#mailformpro dl dt, form#mailformpro dl dd{
	padding-top:20px;
	padding-bottom:20px;
}

form#mailformpro dl dt span {
	display:inline-block;
}

.mfp_colored{
	background:none;
}

.mailform{
	margin: 0 auto;
}

textarea, input {
	max-width:100%;
}

.div_contactWrap{
	max-width:700px;
	border:1px solid #d6d6d6;
	margin:40px auto;
	padding:40px;
	font-size:1.2rem;
}

@media screen and ( max-width:479px ){
	.div_contactWrap{
		padding:20px;
	}
}

.div_contactTel{
	font-size:3.0rem;
	margin:40px auto 20px;
}

.div_contactTel img{
	vertical-align:middle;
	width:50px;
	margin-right:10px;
}

div#mfp_phase_confirm h4 {
	font-size: 2.0rem;
	font-weight:bold;
	padding: 80px 0 20px;
}

form#mailformpro dl dt{
	text-align:left;
}

form#mailformpro dl dt:nth-of-type(1), form#mailformpro dl dd:nth-of-type(1){
	border-top:none;
}

form#mailformpro dl dd.mfpAgreeBtn{
	width:100%;
	text-align:center;
	padding:40px 0 0;
}

form#mailformpro dl dd.mfpAgreeBtn label{
	text-align:left;
	padding-left:1em;
	text-indent:-1em;
	border:none;
}


form#mailformpro dl dt .txtAttention{
	display:inline-block;
	padding-left:4px;
}

.mfp_element_text, .mfp_element_number, .mfp_element_select-one, .mfp_element_email, .mfp_element_tel, .mfp_element_textarea {
	border: 1px solid #ccc;
	border-radius: 0;
	box-shadow: none;
}

#mfpAgreeWrap{
	border:1px solid #cccccc;
	max-height:200px;
	overflow:auto;
}

#mfpAgree > div{
	text-align:right;
}

#mfpAgree div div{
	border-top:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
	display:inline-block;
	text-align:left;
	margin-top:40px;
}

.mfp_element_submit, .mfp_element_reset, .mfp_element_button {
	background: none;
	border: 1px solid #ccc;
	border-radius: 0;
	cursor: pointer;
	font-size: 1.2rem;
	outline: medium none;
	padding: 15px;
	text-shadow:none;
}

.mfp_element_submit:hover, .mfp_element_reset:hover, .mfp_element_button:hover {
    background: #fff2f2;
    box-shadow: none;
}

.mfp_buttons i{
	margin-right:4px;
}

@media screen and (max-width:479px){
	form#mailformpro dl{
		letter-spacing:-0.4em;
	}
	
	form#mailformpro dl dt, form#mailformpro dl dd{
		display:inline-block;
		box-sizing:border-box;
		letter-spacing:normal;
		text-align:left;
		float:none;
		width:100%;
		padding:10px;
	}
	form#mailformpro dl dd{
		border-top:none;
	}
	
	form#mailformpro dl dd input{
		font-size:1.6rem;
		width:auto !important;
	}
	
	form#mailformpro dl dd #mfp_element_1, form#mailformpro dl dd #mfp_element_2, form#mailformpro dl dd #mfp_element_3, form#mailformpro dl dd #mfp_element_4 {
		max-width: 45%;
	}
	
	form#mailformpro dl dd textarea{
		font-size:1.6rem;
	}
}