@charset "UTF-8";
#topMainVis{
	position:relative;
	overflow:hidden;
}

#topMainVis > img{
	z-index:10;
	position:relative;
}

#topMainVis li{
	position:absolute;
	top:0;
	left:0;
	z-index:5;
	width:100%;
	display:none;
}

#topNav{
	letter-spacing:-0.4em;
	overflow:hidden;
}

#topNav a{
	letter-spacing:normal;
	box-sizing:border-box;
	display:inline-block;
	vertical-align:top;
	position:relative;
	width:33.3%;
}

#topNav a:not(:last-child){
	border-right:1px solid #ffffff;
}

#topNav a:last-child{
	border-left:1px solid #ffffff;
	margin-left:-1px;
}

.navImgCng img:nth-child(2){
	display:none;
}

@media screen and (max-width:767px) {
	
	.navImgCng img:first-child{
		display:none;
	}
	
	.navImgCng img:nth-child(2){
		display:block;
	}
	
}

#topNav dl{
	position:absolute;
	padding:20px;
	width:100%;
	display:inline-block;
	background:rgba(0, 0, 0, 0.5);
	color:#ffffff;
	bottom:0;
	-webkit-transition: background-color ease-in-out 0.2s, color ease-in-out 0.2s;
	-moz-transition: background-color ease-in-out 0.2s, color ease-in-out 0.2s;
	-o-transition: background-color ease-in-out 0.2s, color ease-in-out 0.2s;
	transition: background- color ease-in-out 0.2s, color ease-in-out 0.2s;
}

#topNav a:hover dl{
	color:#333333;
	background-color:rgba(255, 255, 255, 0.75);
	-webkit-transition: background-color ease-in-out 0.2s, color ease-in-out 0.2s;
	-moz-transition: background-color ease-in-out 0.2s, color ease-in-out 0.2s;
	-o-transition: background-color ease-in-out 0.2s, color ease-in-out 0.2s;
	transition: background- color ease-in-out 0.2s, color ease-in-out 0.2s;
}

#topNav dt{
	font-weight:bold;
	font-size:1.8rem;
	white-space:nowrap;
}

#topNav dd{
	font-size:1.1rem;
	padding-top:9px;
	line-height:1.7rem;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

@media screen and (max-width: 959px) {
	
	#topNav dt{
		font-size:1.4rem;
	}
	
	#topNav dd{
		font-size:1.0rem;
		line-height:1.4rem;
	}
}

@media screen and (max-width:767px) {
	#topNav {
		text-align:left;
	}
	
	#topNav a{
		width:50%;
		height:80px;
		background:rgba(0, 0, 0, 0) no-repeat scroll center left / auto 100%;
		border-bottom:1px solid #d6d6d6;
	}
	
	#topNav a:nth-child(2n){
		border-left:1px solid #d6d6d6;
	}
	
	#topNav div{
		width:80px;
	}
	
	#topNav dl{
		height:7vw;
		box-sizing:border-box;
		background:none;
		height:auto;
		top:0;
		left:80px;
		padding: 10px;
		border-left:none;
		color:#333333;
		width: calc(100% - 80px);
		width: -webkit-calc(100% - 80px);
	}
	
	#topNav dd{
		font-size:1.2rem;
	}
	
	#topNav a:last-child{
		border-bottom:none;
	}
}

@media screen and (max-width:479px) {
	#topNav a{
		width:100%;
		border-bottom:1px solid #d6d6d6;
		overflow:hidden;
	}
	
	#topNav a:nth-child(2n){
		border-left:none;
	}
	
	#topNav dt{
		font-size:1.4rem;
		margin-bottom:6px;
	}
}

#topNav.nav4boxes a{
	width:25%;
}

@media screen and (max-width:767px) {
	#topNav.nav4boxes a{
		width:50%;
	}
	
	#topNav.nav4boxes a:nth-child(3){
		border-bottom:none;
		border-right:none;
	}
	#topNav a:nth-child(2n) {
		border-left: none;
	}
}

@media screen and (max-width:479px) {
	#topNav.nav4boxes a{
		width:100%;
	}
	
	#topNav.nav4boxes a:nth-child(3){
		border-bottom:1px solid #d6d6d6;
	}
}

@media screen and (max-width:910px) {
	.newsLong{
		display:none;
	}
}

.newsShort{
	display:none;
}

@media screen and (max-width:910px) {
	.newsShort{
		display:inline;
	}
}

#topInfo{
	letter-spacing:-0.4em;
}

@media screen and (max-width:479px) {
	#topInfo{
		font-size:1.2rem;
	}
}

#topInfo div{
	letter-spacing:normal;
	box-sizing:border-box;
	display:inline-block;
	vertical-align:top;
	width:50%;
	padding:40px;
}

#topInfo > div:first-child{
	border-right:1px solid #cccccc;
}

#topInfo > div:nth-child(2){
	border-left:1px solid #cccccc;
	margin-left:-1px;
}

@media screen and (max-width:767px){

	#topInfo div{
		width:100%;
	}
	
	#topInfo > div:first-child{
		border-right:none;
		border-top:1px solid #cccccc;
		border-bottom:1px solid #cccccc;
	}
	
	#topInfo > div:nth-child(2){
		border-left:none;
		margin-left:0;
	}

}

#topInfo dt{
	position:relative;
	font-weight:bold;
	margin-bottom:40px;
}

#topInfo dt a{
	position:absolute;
	right:0;
	font-size:1.2rem;
	font-weight:normal;
}

#topInfo dt a i{
	margin-left:8px;
}

#topInfo dd{
	font-size:1.3rem;
	line-height:2.0rem;
	margin-bottom:20px;
	letter-spacing:-0.4em;
}

#topInfo dd span:first-child{
	padding-bottom:5px;
}

#topInfo dd .dl_default{
	margin-bottom:0;
	padding-bottom:5px;
}

#topInfo dd .dl_default dt, #topInfo dd .dl_default dd{
	font-size:inherit;
	font-weight:inherit;
	margin-bottom:0;
	letter-spacing:normal;
}

#topInfo dd .dl_default dt{
	width:80px;
	font-size:1.3rem;
}

#topInfo dd .dl_default dd{
	line-height:0;
	width:-webkit-calc(100% - 80px);
	width:calc(100% - 80px);
}

#topInfo .wpCate{
	font-size: 1.0rem;
	line-height:1.0rem;
	padding: 2px;
	color: #333;
	border: 1px solid #333;
	border-radius: 2px;
	box-sizing:border-box;
	margin: 1px 0 1px 5px;
	cursor:pointer;
	text-decoration:none;
	display:inline-block;
}

#topInfo dd span{
	display:block;
	letter-spacing:normal;
	vertical-align:top;
}

@media screen and (max-width:479px) {

	#topInfo div{
		padding:20px;
	}
	
	#topInfo dt{
		font-size:1.4rem;
	}
	
	#topInfo dd{
		font-size:1.2rem;
	}

	#topInfo dd span{
		display:block;
	}
}

#topInfo div div div:first-child{
	font-weight:bold;
	white-space:nowrap;
}

@media screen and (max-width:479px) {
	#topInfo div div div:first-child{
		font-size:1.4rem;
	}
}

#topInfo div li{
	font-size:1.2rem;
	margin-bottom:12px;
}

#topInfo div li:first-child{
	font-weight:bold;
}

#topInfo div li i{
	margin-right:8px;
	font-size:1.0rem;
}

#topInfo div li:first-child i{
	font-size:1.2rem;
}

@media screen and (max-width:767px) {
	#topInfo div li i{
		margin-right:4px;
	}
}

#topGroup{
	border-top:1px solid #eeeeee;
	background:#f9f9f9;
	padding: 40px 0;
}

#topGroup h3{
	font-family: "NotoSans";
	font-weight:700;
	margin-bottom:35px;
	text-align:center;
}

#topGroup ul{
	letter-spacing:-0.4em;
}

/*-- commentout 20161102
#topGroup li{
	letter-spacing:normal;
	box-sizing:border-box;
	display:inline-block;
	vertical-align:top;
	font-size:1.2rem;
	width:23.5%;
	margin-right:2%;
	text-align:center;
}

#topGroup li:nth-child(4n) {
    margin-right:0%;
}
*/

/*-- add begin 20161102 --*/
/*
#topGroup > div{
	max-width:800px;
}
#topGroup li{
	letter-spacing:normal;
	box-sizing:border-box;
	display:inline-block;
	vertical-align:top;
	font-size:1.2rem;
	width:32%;
	margin-right:2%;
	text-align:center;
}

#topGroup li:nth-child(3n) {
    margin-right:0%;
}
*/
/*-- add end 20161102 --*/

/*-- add begin 20170215 --*/
/*
#topGroup > div{
	max-width:535px;
}
#topGroup li{
	letter-spacing:normal;
	box-sizing:border-box;
	display:inline-block;
	vertical-align:top;
	font-size:1.2rem;
	width:49%;
	text-align:center;
}

#topGroup li:nth-child(2n) {
    float:right;
}
*/
/*-- add end 20170215 --*/

#topGroup li{
	letter-spacing:normal;
	box-sizing:border-box;
	display:block;
	vertical-align:top;
	font-size:1.2rem;
	width:100%;
	max-width:900px;
	margin:0 auto;
	text-align:center;
}

@media screen and (max-width:767px) {
	#topGroup li{
/*		width:48%;
		margin-right:4%;*/
	}
	#topGroup li:nth-child(2n) {
		margin-right:0%;
	}
}

@media screen and (max-width:479px) {
	#topGroup li{
		width:100%;
		margin:0;
	}
}

#topGroup li img{
	width:100%;
	height:auto;
	border: 1px solid #e0e0e0;
	margin: 0 auto;
}

#topGroup li span{
	display:block;
	padding-top:4px;
	text-align:center;
	margin: 0 auto 20px;
	line-height:1.8rem;
}

#topGroup li a span{
	text-indent:-8px;
	padding-left:16px;
}

#topGroup i{
	margin-right:0;
}

.footMoveAnc{
	display:none;
}


/* 10th message */

.top10th{
	max-width:900px;
	max-width:920px;
	margin: 50px auto;
	position: relative;
}
@media screen and (max-width:767px){
	.top10th{
    	position: initial;
	}
}

.top10th ul{
	letter-spacing:-0.4em;
}

.top10th li{
	letter-spacing:normal;
	display:inline-block;
	vertical-align:top;
	box-sizing:border-box;
}

.top10th li:first-child{
	width:40%;
	text-align:center;
}

.top10th li:last-child{
	width:60%;
	text-align:left;
	padding-right:20px;
}

@media screen and (max-width:767px){
	.top10th li:first-child{
		width:100%;
	}
	.top10th li:last-child{
		width:100%;
		padding:30px 0 0;
		/* text-align:center; */
		padding: 30px 20px 0
	}
	.top10th li p{
		text-align:center;
	}
}

.top10th li img{
	margin: 7px auto 0;
}

.top10th li p{
	padding-bottom:24px;
}

.top10th li p:last-child{
	padding-bottom:0;
}

.top10th li span{
	display:inline-block;
	line-height:2.0rem;
	font-size:1.3rem;
}

.top10th li span.top10thFev{
	display:inline;
	color:#921d22;
}

#secured{
    position: absolute;
    right: -17%;
    bottom: -140%;
}
@media screen and (max-width:1279px){
#secured{
    right: -5%;
    bottom: -140%;
}
}
@media screen and (max-width:889px){
#secured{
    right: 5%;
    bottom: -115%;
}
}
@media screen and (max-width:767px){
	#secured{
    	position: initial;
    	margin-top: 5%;
	}
}