@charset "UTF-8";

#newsCateNav{
	width:100%;
	text-align:right;
	margin-bottom:20px;
}

#newsCateNav li{
	display:inline-block;
	margin: 0 auto 5px;
}

#newsCateNav a{
	font-size: 1.2rem;
	padding: 2px;
	color: #333;
	border: 1px solid #333;
	border-radius: 2px;
	box-sizing:border-box;
	margin: 0 0 -1px 5px;
	cursor:pointer;
	text-decoration:none;
	display:inline-block;
}

@media screen and (max-width:479px){
		
	.cateNav li a {
		padding: 13px 0 13px 25px;
	}

	.cateNav{
		display:block;
		font-size:1.2rem;
	}
	
	.relNav{
		display:none;
	}

	.cateNav .cateNavAct{
		background:#ffffff;
	}
	
}

.dl_news {
    font-size: 1.4rem;
    line-height: 2.4rem;
    padding-top: 10px;
}

.dl_news dt{
	padding-bottom:10px;
}

.dl_news dt a{
	font-size: 1.2rem;
	padding: 2px;
	color: #333;
	border: 1px solid #333;
	border-radius: 2px;
	box-sizing:border-box;
	margin-left:5px;
	cursor:pointer;
	text-decoration:none;
}

.dl_news dt a:hover{
	text-decoration:none;
}

.dl_news dt .dl_default{
	margin-bottom:0;
	padding-bottom:5px;
}

.dl_news dt .dl_default dt, .dl_news dt .dl_default dd{
	font-size:inherit;
	font-weight:inherit;
	margin-bottom:0;
	letter-spacing:normal;
}

.dl_news dt .dl_default dt{
	width:80px;
	font-size:1.3rem;
}

.dl_news dt .dl_default dd{
	line-height:0;
	width:-webkit-calc(100% - 80px);
	width:calc(100% - 80px);
	padding-bottom:0;
}

.dl_news dt .dl_default dd a{
	font-size: 1.0rem;
	line-height: 1.0rem;
	padding: 2px;
	color: #333;
	border: 1px solid #333;
	border-radius: 2px;
	box-sizing:border-box;
	margin: 0 0 2px 5px;
	cursor:pointer;
	text-decoration:none;
	display:inline-block;
}

.dl_news dd {
    border-bottom: 1px solid #d6d6d6;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

.dl_news dd:last-child {
    border-bottom: medium none;
    margin-bottom: 0;
}
.div_newsDet{
	border:1px solid #d6d6d6;
	padding: 40px 40px 20px;
	margin-bottom:40px;
}

p.date-right {
    margin-bottom:20px;
}

@media screen and (max-width:479px){
	
	.div_newsDet{
		border:1px solid #d6d6d6;
		padding: 20px 20px 0;
	}
	
}

/* wordpress コンテンツエディタ
----------------------------------- */
.wpContDate{
	margin: 20px auto;
	text-align:right;
	font-size:1.3rem;
}

.wpContDate span{
	display:block;
	padding-bottom:20px;
}

.wpContDate a{
	font-size: 1.0rem;
	line-height: 1.0rem;
	padding: 2px;
	color: #333;
	border: 1px solid #333;
	border-radius: 2px;
	box-sizing:border-box;
	margin: 0 0 2px 5px;
	cursor:pointer;
	text-decoration:none;
	display:inline-block;
}

.wpCont{
	margin-bottom:20px;
	font-size:1.4rem;
	line-height:2.2rem;
	text-align:left;
}

#informationBack{
	text-align:right;
	padding-bottom:40px;
}

.wpCont p { display: block; margin: 1em 0;}
.wpCont strong { font-weight: bold; }
.wpCont b { font-weight: bold; }
.wpCont em { font-style: italic; }
.wpCont blockquote { display: block; -webkit-margin-before: 1em; -webkit-margin-after: 1em; -webkit-margin-start: 40px; -webkit-margin-end: 40px; }
.wpCont .aligncenter { display: block; margin: 0 auto; }
.wpCont .alignright { float: right; padding: 10px 0 10px 10px; }
.wpCont .alignleft { float: left; padding: 10px 10px 10px 0; }
.wpCont img[class*="wp-image-"],
.wpCont img[class*="attachment-"] { height: auto; max-width: 100%;}
.wpCont .hSeparator{ clear: both; }

.wpCont h1{
	font-size: 2.2rem;
	line-height:3.2rem;
	font-weight: bold;
	margin: 40px 0 20px;
}

.wpCont h2{
	font-size:1.8rem;
	line-height:2.4rem;
	font-weight:bold;
	clear:both;
	margin: 40px 0 20px;
}

.wpCont h3{
	font-size:1.6rem;
	line-height:2.0rem;
	font-weight:bold;
	clear:both;
	margin: 40px 0 10px;
	border-left:5px solid #000000;
	padding-left:10px;
}

.wpCont h4{
	font-size:1.6rem;
	line-height:2.0rem;
	font-weight:bold;
	clear:both;
	margin: 40px 0 10px;
}

.wpCont h5{
	font-size:1.4rem;
	font-weight:bold;
	clear:both;
	margin: 40px 0 10px;
	border-left:5px solid #000000;
	padding-left:10px;
}

.wpCont h6{
	font-weight:bold;
	clear:both;
	margin: 40px 0 10px;
}

.wpCont h1:first-child, .wpCont h2:first-child, .wpCont h3:first-child, .wpCont h4:first-child, .wpCont h5:first-child, .wpCont h6:first-child {
	margin-top:0;
}
