@charset "UTF-8";
.dl_privacy{
	font-size:1.2rem;
	line-height:2.4rem;
	box-sizing:border-box;
	border:1px solid #d6d6d6;
	border-bottom:none;
	margin: 0 auto 50px;
	width:100%;
	letter-spacing:-0.4em;
}

.dl_privacy dt:first-child, .dl_privacy dd:nth-child(2){
	background:#f3f3f3;
}

.dl_privacy dt, .dl_privacy dd{
	box-sizing:border-box;
	display:inline-block;
	letter-spacing:normal;
	vertical-align:top;
}

.dl_privacy dt{
	font-weight:bold;
	padding:10px;
	width:50%;
	border-right:1px solid #d6d6d6;
	border-bottom:1px solid #d6d6d6;
}

.dl_privacy dd{
	padding:10px;
	width:50%;
	border-bottom:1px solid #d6d6d6;
}

.p_default{
	font-size:1.2rem;
}

.div_infoBox{
	border:1px solid #d6d6d6;
	padding:20px;
	font-size:1.2rem;
	line-height:1.8rem;
}