@charset "UTF-8";

/* publicity */
.ul_publicity{
	letter-spacing:-.40em;
}

.ul_publicity li {
	letter-spacing: normal;
	display:inline-block;
	box-sizing:border-box;
	vertical-align:top;
	font-size:1.3rem;
	border:1px solid #eaeaea;
	width:32%;
	margin: 0 2% 15px 0;
	text-align:center;
	padding:10px;
}

@media screen and (min-width:480px){
	.ul_publicity li:nth-child(3n){
		margin-right:0%;
	}
}

@media screen and (max-width:479px){
	
	.ul_publicity li:last-child {
		margin-bottom: 60px;
	}
	
	.ul_publicity li {
		width:48%;
		margin: 0 4% 15px 0;
	}
	
	.ul_publicity li:nth-child(2n){
		margin-right:0%;
	}
	
	.cateNav li a {
		padding: 13px 0 13px 25px;
	}

	.cateNav{
		display:block;
		font-size:1.2rem;
	}
	
	.relNav{
		display:none;
	}

	.cateNav .cateNavAct{
		background:#ffffff;
	}
}

.ul_publicity li a{
	display:inline-block;
	width:100%;
	height:100%;
	text-decoration:none;
}

.ul_publicity li h5, .ul_publicity li img, .ul_publicity li span{
	display:block;
}

.ul_publicity li h5 {
	height: 3.5em;
}

.ul_publicity li h5, .ul_publicity li span{
	text-align:left;
	line-height:2.0rem;
	padding: 6px 0;
}

.ul_publicity li img{
	margin: 10px auto;
}

.ul_publicity li span{
	font-size:1.2rem;
}

.ul_publicity li a span{
	text-decoration:underline;
	font-size:1.2rem;
}