@charset "UTF-8";
#recruitTit{
	margin:60px 0 50px;
}

@media screen and ( max-width:479px ){
	#recruitTit{
		margin:30px 0 25px;
	}
}

#recruitLead{
	line-height:2.7rem;
	text-align:center;
	font-size:1.3rem;
	margin-bottom:55px;
}

@media screen and ( max-width:479px ){
	#recruitLead{
		margin-bottom:30px;
	}
}

#recruitLead span{
	display:inline-block;
}

#ul_recruit li{
	box-sizing:border-box;
	width:100%;
	border:1px solid #d7d7d7;
	margin-bottom:50px;
	padding: 40px 30px;
	letter-spacing:-0.4em;
}

@media screen and ( max-width:479px ){
	
	#ul_recruit li{
		padding: 30px 20px;
	}
	
}

#ul_recruit h3, #ul_recruit span{
	letter-spacing:normal;
}

#ul_recruit h3{
	font-size:1.8rem;
	font-weight:bold;
	margin-bottom:30px;
}

#ul_recruit h3 span{
	font-size:1.3rem;
	font-weight:normal;
	display:block;
	margin-bottom:20px;
}

@media screen and ( max-width:479px ){
	
	#ul_recruit h3{
		font-size:1.4rem;
		margin-bottom:20px;
	}
	
	#ul_recruit h3 span{
		font-size:1.1rem;
		margin-bottom:10px;
	}
	
}

#ul_recruit dl{
	display:inline-block;
	letter-spacing:normal;
	box-sizing:border-box;
	vertical-align:top;
	padding-left:10px;
	width:30%;
	line-height:3rem;
	font-size:1.3rem;
}

#ul_recruit dl:last-child{
	width:70%;
}

#ul_recruit dt{
	font-weight:bold;
}

#ul_recruit dd{
	padding-left:10px;
}

#ul_recruit i{
	margin-right:4px;
}

#ul_recruit dd div{
	font-size:1.1rem;
	color:#999999;
	padding-left:18px;
	line-height:1.3rem;
}

#ul_recruit dd span{
	display:inline-block;
}


@media screen and ( max-width:959px ){
	
	#ul_recruit dl{
		width:40%;
	}
	
	#ul_recruit dl:last-child{
		width:60%;
	}
	
}

@media screen and ( max-width:767px ){
	
	#ul_recruit dl, #ul_recruit dl:last-child{
		width:100%;
	}
	
	#ul_recruit dl:last-child{
		margin-top:20px;
	}
	
}

@media screen and ( max-width:479px ){
	
	#ul_recruit dl{
		padding-left:0;
	}
	
	#ul_recruit dd{
		padding-left:10px;
	}
	
}

#ul_recruit li > span{
	color:#999999;
	display:block;
	padding-left:20px;
}

@media screen and ( max-width:479px ){
	#ul_recruit li > span{
		font-size:1.3rem;
	}
}

#ul_recruit p {
	letter-spacing:normal;
	font-size:1.2rem;
	line-height:2.2rem;
	padding-top:20px;
}

/* detail */

.requireInfo{
	position:relative;
	overflow:hidden;
}
.requireInfo dl{
	letter-spacing:-0.4em;
	width:100%;
	font-size:1.4rem;
}

.requireInfo dl dt, .requireInfo dl dd{
	letter-spacing:normal;
	display:inline-block;
	box-sizing:border-box;
	vertical-align:top;
	padding-bottom:20px;
	line-height:2.0rem;
}

.requireInfo dl dt{
	width:135px;
	text-align:right;
	font-weight:bold;
	padding-right:20px;
}

.requireInfo .verticalLine{
	border-right:1px solid #d6d6d6;
	position:absolute;
	width:135px;
	height:1000px;
	top:0;
	left:0;
}

.requireInfo dl dd{
	width:-webkit-calc(100% - 135px);
	width:calc(100% - 135px);
	padding-left:20px;
}

.requireInfo dl dd span{
	display:inline-block;
}

@media screen and (max-width:479px){
	.requireInfo dl dt{
		width:90px;
	}
	
	.requireInfo dl dd{
		width:-webkit-calc(100% - 90px);
		width:calc(100% - 90px);
	}

	.requireInfo .verticalLine{
		width:90px;
	}
}

.requireInfo dl dd:last-child{
	padding-bottom:40px;
}

.requireInfo dl:first-child{
	margin-top:20px;
}

.requireInfo dl:last-child dd:last-child{
	padding-bottom:20px;
	margin-bottom:40px;
}

.p_requireInfo{
	padding-top:60px;
	text-align:center;
}

.p_requireInfo span{
	padding: 20px 0 0;
	display:block;
	font-size:2.2rem;
	font-weight:bold;
}

.telOutLine{
	border: 1px solid #ccc;
    padding: 18px;
    display: inline-block;
	margin-bottom:10px;
}
.p_requireInfo i{
	display:none;
	font-size:2.2rem;
}
.p_requireInfo .telOutLine i{
	display:inline-block;
}
