@charset "UTF-8";

.div_sitemapBox{
	letter-spacing:-0.4em;
}

.div_sitemapBox dl, .div_sitemapBox ul{
	display:inline-block;
	vertical-align:top;
	width:50%;
	font-size:1.4rem;
}

.div_sitemapBox dt, .div_sitemapBox dd, .div_sitemapBox li{
	display:block;
	letter-spacing:normal;
}

.div_sitemapBox li{
	margin-bottom:30px;
	font-weight:bold;
}

.div_sitemapBox dt{
	font-weight:bold;
	margin-bottom:10px;
}

.div_sitemapBox dd{
	padding-left:10px;
	font-size:1.3rem;
	margin-bottom:40px;
}

.div_sitemapBox dd a{
	line-height:24px;
}

.div_sitemapBox dd img{
	width:15px;
	margin-right:4px;
	vertical-align:middle;
}

.div_sitemapBox a:link{
	text-decoration:none;
}

.div_sitemapBox a:visited{
	text-decoration:none;
}

.div_sitemapBox a:hover, .div_sitemapBox a:active {
	text-decoration: underline;
}

@media screen and (max-width:479px){

	#mainWrap, .cateNavWrap, .footMoveAnc{
		/*display:none;*/
	}
	.h2_line{
		border-bottom:none;
	}
}
