@charset "UTF-8";
body,
h1, h2, h3, h4, h5, h6,
blockquote, dl, dd, figure, ol, ul, p, pre {
  margin: 0;
}

* {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
}

html, body {
  height: 100%;
}

a {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

a:active, a:focus,
button:focus, input[type="button"] {
  outline: none;
}

article, aside, details, figure, figcaption, footer, header, main, nav, section {
  display: block;
}

address, em, i {
  font-style: normal;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
}

ol, ul {
  list-style-type: none;
  padding: 0;
}

li {
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

tr {
  vertical-align: top;
}

th, td {
  padding: 0;
}

.cf {
  zoom: 1;
}
.cf:after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", "Osaka", sans-serif;
  padding: 30px;
}

p {
  margin-bottom: 30px;
}

i {
  letter-spacing: 5px;
}

/* Smart Drawer
   ========================================================================== */
#sd_nav {
  width: 350px;
  height: 100%;
  color: #333333;
  overflow: auto;
  position: fixed;
  right: -350px;
  top: 0;
  z-index: 1001;
  padding: 20px 10px;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  background: #ffffff;
  border-left: 5px solid #000000;
}
@media screen and (max-width: 400px) {
  #sd_nav {
    width: 300px;
    right: -300px;
  }
}
#sd_nav li {
  padding: 10px;
  border-top: 1px solid #404040;
  border-bottom: 1px solid #262626;
}
#sd_nav li:first-child {
  border-top: 0;
}
#sd_nav li:last-child {
  border-bottom: 0;
}
#sd_nav.block {
  -webkit-transform: translate3d(-350px, 0, 0);
  transform: translate3d(-350px, 0, 0);
}
@media screen and (max-width: 400px) {
  #sd_nav.block {
    -webkit-transform: translate3d(-300px, 0, 0);
    transform: translate3d(-300px, 0, 0);
  }
}
#sd_nav.block:not(:target) {
  left: 0\9;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  #sd_nav.block-ie10 {
    -webkit-transform: translate3d(-350px, 0, 0) !important;
    transform: translate3d(-350px, 0, 0) !important;
  }
}
#sd_nav .close {
  display: block;
  position: relative;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #262626;
}
#sd_nav .close:hover {
  cursor: pointer;
  background: #404040;
}
#sd_nav .close:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #404040;
}

#sd-trigger {
  color: #000;
  text-decoration: none;
  text-align: center;
  display: block;
}

#sd-trigger i.fa{
	display:block;
	font-size:3rem;
	margin:0;
}

#sd-trigger:hover {
  cursor: pointer;
}

#sd-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0;
  background: rgba(0, 0, 0, 0.3);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
#sd-overlay.block {
  z-index: 1000;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

#sd-overlay-android {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  background: rgba(0, 0, 0, 0.5);
}


/* copro overwrite */

@media screen and (max-width: 400px) {
	#sd_nav {
		width: 250px;
		right: -250px;
	}
}

@media screen and (max-width: 400px) {
	#sd_nav.block {
		-webkit-transform: translate3d(-250px, 0, 0);
		transform: translate3d(-250px, 0, 0);
	}
}

#sd_nav {
	font-family:'NotoSans';
    font-weight: 300;
	border-left: none;
	background:#efefef;
	padding:68px 0 0;
}

#sd_nav ul:last-child, #sd_nav dl:last-child{
	border-bottom: 1px solid #cccccc;
}

#sd_nav li {
	border: none;
	padding:0;
}

#sd_nav dd {
	display: none;
}

#sd_nav a, #sd_nav dt {
	border-top: 1px solid #cccccc;
	text-decoration:none;
	display:block;
	height:44px;
	box-sizing:border-box;
	padding: 14px 0 0 10px;
	color:#000000;
	cursor:pointer;
	-webkit-transition : all 0.2s ease ;
	transition : all 0.2s ease ;
}

#sd_nav a:hover, #sd_nav dt:hover{
	background:#fff;
	-webkit-transition : all 0.2s ease ;
	transition : all 0.2s ease ;
}

#sd_nav i{
	margin-left: 8px;
	vertical-align: middle;
}

#sd_nav dt i:last-child {
	display:none;
}

#sd-overlay {
	background: rgba(0, 0, 0, 0);
	-webkit-transition : all 0.5s ease ;
	transition : all 0.5s ease ;
}

#sd-overlay.block {
	background: rgba(0, 0, 0, 0.4);
	-webkit-transition : all 0.5s ease ;
	transition : all 0.5s ease ;
}

#sd-trigger{
	position:fixed;
	right:10px;
	top:18px;
    cursor: pointer;
	height:44px;
	width:35px;
	text-align:center;
	box-sizing:border-box;
    z-index: 1000;
	font-size:1.1rem;
}

#sd-trigger span, #sd-trigger span:before, #sd-trigger span:after {
    position: absolute;
    height: 4px;
    width: 30px;
	margin: 0 auto;
    background: #000000;
    display: block;
    content: '';
}

#sd-trigger:hover span, #sd-trigger:hover span:before, #sd-trigger:hover span:after {
    background: #999999
}


#sd-trigger span:before{
	top:9px;
}

#sd-trigger span:after {
	top:18px;
}

#sd-trigger div{
    position: absolute;
	top:26px;
	width:30px;
}

#sd_nav .close{
    position: absolute;
	right:10px;
	top:18px;
    cursor: pointer;
	height:35px;
	width:35px;
	text-align:center;
	box-sizing:border-box;
	margin: 0;
	padding:0;
	text-align:center;
	border:none;
}

#sd_nav .close:after{
	border:none;
}

#sd_nav .close:hover {
	background:none;
}

#sd_nav .close span, #sd_nav .close span:before {
    position: relative;
    height: 4px;
    width: 35px;
    background: #000000;
    display: block;
    content: '';
}

#sd_nav .close:hover span, #sd_nav .close:hover span:before {
    background: #999999;
}

#sd_nav .close span{
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	margin: 15px auto;
}

#sd_nav .close span:before {
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
